* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.space {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    color: white;
    margin: 10px;
}

.score-container {
    position: relative;
}

.score {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
    position: absolute;
    z-index: 10;
    color: white;
    margin: 42px;
}